In [2]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np

In [3]:
dr={"store":["s1","s2","s2","s1","s2","s1"],"sales":[70,8,12,70,8,9]}
dr_df=pd.DataFrame(dr)
dr_df

  store  sales
0    s1     70
1    s2      8
2    s2     12
3    s1     70
4    s2      8
5    s1      9

In [23]:
class Windows:
    def Row_no(self,data,partition_by,order_by="",order="asc"):
        v=data[partition_by].value_counts()
        zip1=zip(v.index,v)
        df2=pd.DataFrame()
        for i,j in zip1:
            lst=[]
            df1=pd.DataFrame()
            if order_by=="":
                df1=data[data[partition_by]==i]
            else:
                if order=="asc":
                    df1=data[data[partition_by]==i].sort_values(by=order_by)
                elif order=="desc":
                    df1=data[data[partition_by]==i].sort_values(by=order_by,ascending=False)
            lst=list(range(1,j+1))
            df1["rowno"]=lst
            df2=pd.concat([df2,df1],axis=0,ignore_index=True)
        print(df2)
    
    def rank(self,data,order_by,order="asc",partition_by=""):
        df2=pd.DataFrame()
        if order=="asc":
            data=data.sort_values(by=order_by)
        elif order=="desc":
            data=data.sort_values(by=order_by,ascending=False)
            ##print(data)
        if partition_by!="":
            unq=data[partition_by].unique()
            for i in unq:
                data1=data[data[partition_by]==i]
                lst4=list(data1[order_by].values)
                lst5=[]
                for i in lst4:
                    lst5.append(lst4.index(i)+1)
                data1["Rank"]=lst5
                df2=pd.concat([df2,data1],axis=0)
        else:
            lst4=list(data[order_by].values)
            lst5=[]
            for i in lst4:
                lst5.append(lst4.index(i)+1)
            data["Rank"]=lst5
            df2=pd.concat([df2,data],axis=0)
        print(df2)
    
    
    import numpy as np
    def dense_rank(self,data,order_by,order="asc",partition_by=""):
        df2=pd.DataFrame()
        if order=="asc":
            data=data.sort_values(by=order_by)
        elif order=="desc":
            data=data.sort_values(by=order_by,ascending=False)
        if partition_by!="":
            unq=data[partition_by].unique()
            for i in unq:
                data1=data[data[partition_by]==i]
                lst1=[np.nan]
                lst1.extend(data1[order_by].values[:len(data1)-1])
                lst2=list(data1[order_by].values)
                lst5=[]
                zip_lst=zip(lst1,lst2)
                p=0
                lst5=[]
                for i,j in zip_lst:
                    if i==j:
                        lst5.append(p)
                    else:
                        p=p+1
                        lst5.append(p)
                data1["dense_Rank"]=lst5
                df2=pd.concat([df2,data1],axis=0)
        else:
            data1=data.copy()
            lst1=[np.nan]
            lst1.extend(data1[order_by].values[:len(data1)-1])
            lst2=list(data1[order_by].values)
            lst5=[]
            zip_lst=zip(lst1,lst2)
            p=0
            lst5=[]
            for i,j in zip_lst:
                if i==j:
                    lst5.append(p)
                else:
                    p=p+1
                    lst5.append(p)
            data1["dense_Rank"]=lst5
            df2=pd.concat([df2,data1],axis=0)
        print(df2)
        
        
    def lag(self,data,lag,partition_by,order_by,order="asc"):
        df2=pd.DataFrame()
        if order=="asc":
            data=data.sort_values(by=order_by)
        elif order=="desc":
            data=data.sort_values(by=order_by,ascending=False)
        if partition_by!="":
            unq=data[partition_by].unique()
            for i in unq:
                data1=data[data[partition_by]==i] 
                lst1=[np.nan]*lag
                lst1.extend(data1[order_by].values[:len(data1)-lag])
                data1["lagged_data"]=lst1
                df2=pd.concat([df2,data1],axis=0)
        print(df2)

    def lead(self,data,lead,partition_by,order_by,order="asc"):
        df2=pd.DataFrame()
        if order=="asc":
            data=data.sort_values(by=order_by)
        elif order=="desc":
            data=data.sort_values(by=order_by,ascending=False)
        if partition_by!="":
            unq=data[partition_by].unique()
            for i in unq:
                data1=data[data[partition_by]==i] 
                lst1=[]
                lst1.extend(data1[order_by].values[lead:])
                lst1.extend([np.nan]*lead)
                data1["lead_data"]=lst1
                df2=pd.concat([df2,data1],axis=0)
        print(df2)

In [24]:
ob=Windows()

In [27]:
ob.Row_no(dr_df,"store")

  store  sales  rowno
0    s1     70      1
1    s1     70      2
2    s1      9      3
3    s2      8      1
4    s2     12      2
5    s2      8      3

In [28]:
ob.Row_no(dr_df,"store","sales","asc")

  store  sales  rowno
0    s1      9      1
1    s1     70      2
2    s1     70      3
3    s2      8      1
4    s2      8      2
5    s2     12      3

In [29]:
ob.rank(dr_df,"sales","asc")

  store  sales  Rank
1    s2      8     1
4    s2      8     1
5    s1      9     3
2    s2     12     4
0    s1     70     5
3    s1     70     5

In [30]:
ob.rank(dr_df,"sales","asc","store")

  store  sales  Rank
1    s2      8     1
4    s2      8     1
2    s2     12     3
5    s1      9     1
0    s1     70     2
3    s1     70     2

In [155]:
ob.dense_rank(dr_df,"sales","asc")

  store  sales  dense_Rank
1    s2      8           1
4    s2      8           1
5    s1      9           2
2    s2     12           3
0    s1     70           4
3    s1     70           4

In [156]:
ob.dense_rank(dr_df,"sales","asc","store")

  store  sales  dense_Rank
1    s2      8           1
4    s2      8           1
2    s2     12           2
5    s1      9           1
0    s1     70           2
3    s1     70           2

In [32]:
ob.lag(dr_df,2,"store","sales","asc")

  store  sales  lagged_data
1    s2      8          NaN
4    s2      8          NaN
2    s2     12          8.0
5    s1      9          NaN
0    s1     70          NaN
3    s1     70          9.0

In [163]:
ob.lag(dr_df,2,"store","sales","desc")

  store  sales  lagged_data
0    s1     70          NaN
3    s1     70          NaN
5    s1      9         70.0
2    s2     12          NaN
1    s2      8          NaN
4    s2      8         12.0

In [164]:
ob.lead(dr_df,1,"store","sales","desc")

  store  sales  lead_data
0    s1     70       70.0
3    s1     70        9.0
5    s1      9        NaN
2    s2     12        8.0
1    s2      8        8.0
4    s2      8        NaN

In [165]:
ob.lead(dr_df,2,"store","sales","desc")

  store  sales  lead_data
0    s1     70        9.0
3    s1     70        NaN
5    s1      9        NaN
2    s2     12        8.0
1    s2      8        NaN
4    s2      8        NaN